<body>
  <div class="chat-container">
    @if (mess ) { @for (item of mess; track $index) { @if (item.id_in ==
    user._id) {
    <div class="message-box mes-in">
      <p>{{ item.message }}</p>
    </div>
    } @else {
    <div class="message-box mess-out">
      <p>{{ item.message }}</p>
    </div>
    } } } @else {
    <div>No messages</div>
    }
    <!-- Chat input form -->
    <form
      class="message-form"
      [formGroup]="messagesForm"
      (ngSubmit)="onSubmit()"
    >
      <input
        type="hidden"
        value="{{ user._id }}"
        name="id_out"
        id=""
        formControlName="id_out"
      />
      <input
        type="hidden"
        value="{{ id_in }}"
        name="id_in"
        id=""
        formControlName="id_in"
      />
      <input
        type="text"
        placeholder="Type your message..."
        name="mess"
        formControlName="message"
      />
      <button type="submit">Send</button>
    </form>
  </div>
</body>
