<form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="">name</label> <br />
  <input type="text" name="name" id="" formControlName="name" /><br />
  @if(userForm.get('name')?.hasError('required')&&
  userForm.get('name')?.touched){
  <div>nhập name</div>
  }
  <label for="">email</label> <br />
  <input type="text" name="email" id="" formControlName="email" /><br />
  @if(userForm.get('email')?.hasError('required')&&
  userForm.get('email')?.touched){
  <div>nhập email</div>
  }
  <label for="">password</label> <br />
  <input type="text" name="password" id="" formControlName="password" /><br />
  @if(userForm.get('password')?.hasError('required')&&
  userForm.get('password')?.touched){
  <div>nhập password</div>
  }
  <button>create user</button>
</form>
